@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;500;600&display=swap');


body {
    font-family:'Yanone Kaffeesatz', sans-serif;
    background-color:white;
    color: br;


}
.testdiv{
    font-size: 40px;
    border-color: red;
    border-width: 20px;
    color: tomato;
    
    text-align: center;
}
/** container **/
 .container {
     padding-left: orem 1rem;
 }

 .container-center{
     max-width: 6oopx;
     margin:auto;
 }

 /** links **/

 .linls

 .primary-link{
     background-color: var
     (--primary-color);
     border-radius:0.5rem;
     color:white
    
 }

 /** links **/
 .links{
     text-decoration: ;
     padding:0.5rem 1rem
 }

 .primary-link{
     background-color:var
     (--primary-color);
     border-radius:0.5rem ;
     color:white;
 }
 
 .secondary-link{
     color:var(--primary-color;
     border-radius:0.5rem;
     border: qpx solid var
 }